In [146]:
import pandas as pd

In [147]:
df1 = pd.read_excel('Summary_patch_test.xlsx').set_index(['Unit','PM service']).drop(['Kidney Loop machine Type','Start KL Time','End of KL Time','Component'],axis=1)
df2 = pd.read_excel('Service history.xlsx').set_index(['Unit','PM service']).sort_index()

In [148]:
df1.head(10)

                   No. Sample     Model               Oil Type  \
Unit   PM service
RD2462 1000                 5  Cat 785C  Total Dynatrans AC 60
       4000                15  Cat 785C  Total Dynatrans AC 60
RD2463 2000                17  Cat 785C  Total Dynatrans AC 60
RD2464 1000                19  Cat 785C  Total Dynatrans AC 60
       1000                21  Cat 785C  Total Dynatrans AC 60
RD2466 2000                22  Cat 785C  Total Dynatrans AC 60
       2000                24  Cat 785C  Total Dynatrans AC 60
RD2467 2000                27  Cat 785C  Total Dynatrans AC 60
RD2484 2000                29  Cat 785C  Total Dynatrans AC 60
RD2485 1000                30  Cat 785C  Total Dynatrans AC 60

                           Sample Date  Hour Meter when service_dari pak Jen
Unit   PM service
RD2462 1000        2020-09-06 00:00:00                               39673.0
       4000        2020-02-01 00:00:00                               36744.5
RD2463 2000        2020-10-06 00:00:00                               26325.6
RD2464 1000        2020-05-15 00:00:00                               39934.1
       1000        2020-10-14 00:00:00                               41999.2
RD2466 2000        2020-11-01 00:00:00                               42953.6
       2000        2021-10-16 00:00:00                               46977.0
RD2467 2000        2020-11-19 00:00:00                               42903.4
RD2484 2000        2020-08-11 00:00:00                               38718.9
RD2485 1000        2020-08-21 00:00:00                               39254.0

In [149]:
df2.head(50)

                  Complete Date  Work Order No.    Service Type Description  \
Unit   PM service
RD2462 500           2020-03-07         5295401   Generic Service 500 Hours
       500           2020-05-19         5397139   Generic Service 500 Hours
       500           2020-08-02         5506255   Generic Service 500 Hours
       500           2020-10-12         5588233   Generic Service 500 Hours
       500           2020-12-21         5699818   Generic Service 500 Hours
       500           2021-03-09         5802296   Generic Service 500 Hours
       500           2021-06-09         5939657   Generic Service 500 Hours
       500           2021-09-03         6055043   Generic Service 500 Hours
       1000          2020-04-14         5343001  Generic Service 1000 Hours
       1000          2020-09-06         5558664  Generic Service 1000 Hours
       1000          2021-01-27         5754324  Generic Service 1000 Hours
       1000          2021-07-25         5996395  Generic Service 1000 Hours
       2000          2020-06-25         5449888  Generic Service 2000 Hours
       2000          2021-04-24         5863437  Generic Service 2000 Hours
       4000          2020-02-01         5232245  Generic Service 4000 Hours
       4000          2020-02-01         5237199  Generic Service 4000 Hours
       4000          2020-11-16         5644898  Generic Service 4000 Hours
       4000          2020-11-16         5645001  Generic Service 4000 Hours
RD2463 500           2020-01-24         5221520   Generic Service 500 Hours
       500           2020-04-06         5318336   Generic Service 500 Hours
       500           2020-06-19         5442014   Generic Service 500 Hours
       500           2020-09-01         5554672   Generic Service 500 Hours
       500           2020-11-11         5638414   Generic Service 500 Hours
       500           2021-01-29         5758332   Generic Service 500 Hours
       500           2021-05-11         5868259   Generic Service 500 Hours
       500           2021-08-20         6039635   Generic Service 500 Hours
       1000          2020-02-28         5282820  Generic Service 1000 Hours
       1000          2020-07-25         5489049  Generic Service 1000 Hours
       1000          2020-12-21         5691703  Generic Service 1000 Hours
       1000          2021-07-14         5957882  Generic Service 1000 Hours
       2000          2020-10-06         5580345  Generic Service 2000 Hours
       2000          2021-10-02         6088068  Generic Service 2000 Hours
       4000          2020-05-11         5379318  Generic Service 4000 Hours
       4000          2020-07-07         5380430  Generic Service 4000 Hours
       4000          2021-03-12         5807376  Generic Service 4000 Hours
       4000          2021-03-14         5807595  Generic Service 4000 Hours
RD2464 500           2020-01-30         5231481   Generic Service 500 Hours
       500           2020-04-10         5343010   Generic Service 500 Hours
       500           2020-06-24         5451547   Generic Service 500 Hours
       500           2020-09-03         5520807   Generic Service 500 Hours
       500           2020-11-17         5648415   Generic Service 500 Hours
       500           2021-02-21         5777710   Generic Service 500 Hours
       500           2021-05-11         5900641   Generic Service 500 Hours
       500           2021-08-06         6016306   Generic Service 500 Hours
       500           2021-10-25         6121564   Generic Service 500 Hours
       1000          2020-05-16         5391512  Generic Service 1000 Hours
       1000          2020-10-14         5586181  Generic Service 1000 Hours
       1000          2021-04-04         5845656  Generic Service 1000 Hours
       1000          2021-09-14         6069069  Generic Service 1000 Hours
       2000          2020-03-06         5293844  Generic Service 2000 Hours

                   Hour Meter when service_dari JDE
Unit   PM service
RD2462 500                                  37251.0
       500                                  38226.0
       500                                  39177.0
       500                                  40214.0
       500                                  41216.0
       500                                  42245.0
       500                                  43306.0
       500                                  44395.0
       1000                                 37729.0
       1000                                 39673.0
       1000                                 41707.0
       1000                                 43887.0
       2000                                 38667.0
       2000                                 42754.0
       4000                                 36752.0
       4000                                 36752.0
       4000                                 40765.0
       4000                                 40765.3
RD2463 500                                  22783.0
       500                                  23769.0
       500                                  24809.0
       500                                  25811.0
       500                                  26872.0
       500                                  27924.0
       500                                  28961.0
       500                                  30030.0
       1000                                 23283.0
       1000                                 25286.0
       1000                                 27424.0
       1000                                 48838.0
       2000                                 26332.0
       2000                                 30550.0
       4000                                 24284.0
       4000                                 25068.0
       4000                                 28432.0
       4000                                 28431.0
RD2464 500                                  38483.0
       500                                  39433.0
       500                                  40449.0
       500                                  41466.0
       500                                  42509.0
       500                                  43467.0
       500                                  44481.0
       500                                  45581.0
       500                                  46596.0
       1000                                 39940.0
       1000                                 41999.0
       1000                                 43980.0
       1000                                 46098.0
       2000                                 38958.0

In [179]:
df_combine = pd.merge(df1,df2,left_index=True,right_index=True)
df_combine['patch test conducted on this PM service?']=abs(df_combine['Hour Meter when service_dari JDE']-df_combine['Hour Meter when service_dari pak Jen']).le(10)
df_combine.head(10)

                   No. Sample     Model               Oil Type  \
Unit   PM service
RD2462 1000                 5  Cat 785C  Total Dynatrans AC 60
       1000                 5  Cat 785C  Total Dynatrans AC 60
       1000                 5  Cat 785C  Total Dynatrans AC 60
       1000                 5  Cat 785C  Total Dynatrans AC 60
       4000                15  Cat 785C  Total Dynatrans AC 60
       4000                15  Cat 785C  Total Dynatrans AC 60
       4000                15  Cat 785C  Total Dynatrans AC 60
       4000                15  Cat 785C  Total Dynatrans AC 60
RD2463 2000                17  Cat 785C  Total Dynatrans AC 60
       2000                17  Cat 785C  Total Dynatrans AC 60

                           Sample Date  Hour Meter when service_dari pak Jen  \
Unit   PM service
RD2462 1000        2020-09-06 00:00:00                               39673.0
       1000        2020-09-06 00:00:00                               39673.0
       1000        2020-09-06 00:00:00                               39673.0
       1000        2020-09-06 00:00:00                               39673.0
       4000        2020-02-01 00:00:00                               36744.5
       4000        2020-02-01 00:00:00                               36744.5
       4000        2020-02-01 00:00:00                               36744.5
       4000        2020-02-01 00:00:00                               36744.5
RD2463 2000        2020-10-06 00:00:00                               26325.6
       2000        2020-10-06 00:00:00                               26325.6

                  Complete Date  Work Order No.    Service Type Description  \
Unit   PM service
RD2462 1000          2020-04-14         5343001  Generic Service 1000 Hours
       1000          2020-09-06         5558664  Generic Service 1000 Hours
       1000          2021-01-27         5754324  Generic Service 1000 Hours
       1000          2021-07-25         5996395  Generic Service 1000 Hours
       4000          2020-02-01         5232245  Generic Service 4000 Hours
       4000          2020-02-01         5237199  Generic Service 4000 Hours
       4000          2020-11-16         5644898  Generic Service 4000 Hours
       4000          2020-11-16         5645001  Generic Service 4000 Hours
RD2463 2000          2020-10-06         5580345  Generic Service 2000 Hours
       2000          2021-10-02         6088068  Generic Service 2000 Hours

                   Hour Meter when service_dari JDE  \
Unit   PM service
RD2462 1000                                 37729.0
       1000                                 39673.0
       1000                                 41707.0
       1000                                 43887.0
       4000                                 36752.0
       4000                                 36752.0
       4000                                 40765.0
       4000                                 40765.3
RD2463 2000                                 26332.0
       2000                                 30550.0

                   patch test conducted on this PM service?
Unit   PM service
RD2462 1000                                           False
       1000                                            True
       1000                                           False
       1000                                           False
       4000                                            True
       4000                                            True
       4000                                           False
       4000                                           False
RD2463 2000                                            True
       2000                                           False

In [180]:
df_combine.to_excel(r'C:\Users\IFahreza\Documents\Jupyter by Imamf\patch test tracer2.xlsx', sheet_name='Sheet1',index=True)